.DS_Store
src/.classpath
src/.gradle/
src/.project
src/.settings/
src/CREDITS-fml.txt
src/LICENSE-fml.txt
src/MinecraftForge-Credits.txt
src/MinecraftForge-License.txt
src/Paulscode IBXM Library License.txt
src/Paulscode SoundSystem CodecIBXM License.txt
src/README.txt
src/bin/
src/build.gradle
src/build/
src/eclipse/
src/forge-1.8.9-11.15.1.1762-changelog.txt
src/gradle/
src/gradlew
src/gradlew.bat
src/run/
src/src_Client.launch
src/src_Server.launch
libraries/
