.DS_Store
src/.classpath
src/.gradle/
src/.project
src/.settings/
src/CREDITS-fml.txt
src/LICENSE-fml.txt
src/MinecraftForge-Credits.txt
src/MinecraftForge-License.txt
src/Paulscode IBXM Library License.txt
src/Paulscode SoundSystem CodecIBXM License.txt
src/README.txt
src/bin/
src/build/
src/eclipse/
src/gradle/
src/gradlew
src/gradlew.bat
src/run/
src/src_Client.launch
src/src_Server.launch
libraries/
docker-compose.yml

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
